extends layout

block content
 h1 add message
 form(action="/new", method="post") 
    input(type="text", name="userName" , placeholder="your name",required)
    input(type="text", name="messageText" , placeholder="your message",required)
    button(type="submit") submit
